#about {
  background-color: #eaedef;
  position: relative;
  font-size: 1.2rem;
}
#about > .wrapper {
  margin: auto;
  width: 50%;
}
#about > .wrapper > h3 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
  color: #333;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#about > .wrapper > p {
  text-align: center;
}

#about > .wrapper > h4 {
  text-align: center;
  font-size: 1.4rem;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  font-family: "Kanit", sans-serif;
  letter-spacing: 5px;
  color: #333;
}
.skills {
  text-align: center;
}
.skills > svg {
  display: inline-block;
  color: #74797e;
  width: 50px;
  height: auto;
  margin: 10px;
  cursor: pointer;
}

.skills > svg:nth-child(1):hover {
  /* HTML */
  color: #e34c26; /* Warna merah HTML */
}

.skills > svg:nth-child(7):hover {
  /* Laravel */
  color: #ff2d20; /* Warna merah Laravel */
}

.skills > svg:nth-child(2):hover {
  color: #1572b6;
}
.skills > svg:nth-child(5):hover {
  color: #61dafb;
}
.skills > svg:nth-child(6):hover {
  color: #38bdf8;
}
.skills > svg:nth-child(4):hover {
  /* PHP */
  color: #777bb4; /* Warna biru */
}

.skills > svg:nth-child(3):hover {
  /* JavaScript */
  color: #f7df1e; /* Warna kuning JS */
}

@media only screen and (max-width: 1000px) {
  #about > .wrapper {
    width: 80%;
  }
}
